{% extends 'flights/layout.html' %}


{% block content %}

<h1>Flight {{flight.id}}</h1>

<ul>
    <li>Origin:  {{flight.origin}}</li>
    <li>Destination:  {{flight.destination}}</li>
    <li>duration:  {{flight.duration}} mins</li>
</ul>

<h3>Passengers :</h3>
<ul>
    {% for passenger in passengers %}
    
    <li> {{passenger}} </li>


    


    {% empty %}
    <p>
        No passengers for now !
    </p>

    {% endfor %}
</ul>

<h2>Add passenger</h2>

<form action="{% url 'book' flight.id %}" method="POST">
    {% csrf_token %}
    <select name="passenger" id="">
        {% for passenger in non_passengers %}
            <option value="{{passenger.id}}">{{passenger}}</option>
        {% endfor %}
    

    </select>
    <input type="submit" name="" id="">
</form>


<a href="{% url 'index' %}">Back to Flight List!</a>

{% endblock content %} 
