//  les variables commencent par "$" :

$color: rgb(130, 1, 1);


// on integre les variables dans le css :

ul {
    color: $color;
    font-size: 14px;
}

ol {
    font-size: 18px;
    color: $color;
}

// COMPILER SINON CA MARCHE PAS  !!!!

// le link ne marchera pas avec un fichier .scss il faut le compiler :

/*  

-avoir dl 'sass' 

- dans la console : 
    $ sass variables.scss:variables.css    ===> ca transforme en css et on link ça.


    AUSSI :
        on peut automatiser la compilation dans une console avec '--watch' ::after
        $ sass --watch variables.scss:variables.css

        ==> ca met a jour en continu
*/